
* {
    box-sizing: border-box;
}
.wrapper {
    max-width: 800px;
    background: yellow;
    height: 1000px;
    margin: 0 auto;
}
.leftCol {
    float: left;
    width: 50%;
    height: 1000px;
    border: 1px solid black;
}
.rightCol {
    float: left;
    width: 50%;
    height: 1000px;
    border: 1px solid black;
}
.clear {
    clear: both;
}
#wedBG {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav {
  background-color: brown;
  text-decoration-line: underline;
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
  font-size: large;
  background-image: linear-gradient(brown,green,orange);
}

.info {
        font-size: large;
        text-align: center;
        font-family: cursive;
    }


.wedBG {
    align-content: center;
    background-image: url("./style1.jpg");
}


.text {

    height: 10em;
    align-items: center;
    position: absolute;
    font-size: x-large;
}



